@import "../../styles/variables";

$blue: #7c5dfa;
$br: 10px;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pageinfo {
        h1 {
            margin: 0;
            font-weight: 400;
        }
    }
    .right {
        display: flex;
        // justify-content: center;
        align-items: center;
        .filter {
            display: flex;
            .filterText {
                display: flex;
                justify-content: space-around;
                align-items: center;
                cursor: pointer;
                width: 143px;
                .arrow {
                    transition: transform 0.5s;
                }
            }
            margin-right: 30px;
            align-items: center;
            justify-content: space-between;
            white-space: nowrap;
            position: relative;
            .dialog {
                display: none;
                position: absolute;
                transform: translateY(87%);
            }
            &[open] {
                .arrow {
                    transform: rotate(-180deg);
                }
                .dialog {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    border-radius: $br;
                    width: 192px;
                    height: 128px;
                    padding: 14px;
                    @media (prefers-color-scheme: light) {
                        background: $card-bg-light;
                        box-shadow: 0 10px 20px #48549f3f;
                    }
                    @media (prefers-color-scheme: dark) {
                        background: $card-bg-dark;
                        box-shadow: 0 10px 20px #0000003b;
                    }
                    .field {
                        display: flex;
                        cursor: pointer;
                        align-items: center;
                        width: 50%;
                        label {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            .checkbox {
                                min-width: 16px;
                                height: 16px;
                                @media (prefers-color-scheme: light) {
                                    background-color: $checkbox-bg-light;
                                }
                                @media (prefers-color-scheme: dark) {
                                    background-color: $checkbox-bg-dark;
                                }
                                // border: 1px solid #7c5dfa;
                                margin-right: 10px;
                                border-radius: 2px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                span {
                                    transform: translateY(-2px);
                                    display: none;
                                }
                            }
                        }
                        // width: fit-content;
                        input[type="radio"] {
                            // margin: 20px;
                            opacity: 0;
                            height: 0;
                            width: 0;

                            &:checked ~ label .checkbox {
                                background: #7c5dfa;
                                span {
                                    display: block;
                                }
                            }
                        }

                        &:hover {
                            .checkbox {
                                border: 1px solid #7c5dfa;
                            }
                        }
                    }
                }
            }
        }
        button {
            cursor: pointer;
            background-color: $blue;
            border: none;
            border-radius: 500px;
            display: flex;
            align-items: center;
            width: 150px;
            height: 48px;
            .add {
                color: $blue;
                background-color: white;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                font-weight: 900;
                transform: translateX(2px);
                span {
                    transform: translateY(-1px);
                }
            }
            .text {
                flex-grow: 1;
                text-align: center;
                color: white;
            }
        }
    }
}
