@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.header {
    @include header();
    padding: 24px;

    .right {
        display: none;
        @media #{$tablet} {
            display: flex;
        }
    }
}
.btns {
    display: flex;
    button {
        margin: 0 5px;
        @include button();
    }
}
