@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.header {
    @include header();
    padding: 24px;
    .statusText {
        margin-right: 24px;
    }
    .right {
        display: none;
        @media #{$tablet} {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
        }
    }
    @include statusBox();
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    * {
        margin-left: 10px !important;
        margin-right: 10px !important;
        white-space: nowrap;
    }
    .delete {
        background-color: #ec5757;
        align-items: center;
        width: 90px !important;
        cursor: pointer;
        &.draft {
            width: 110px !important;
        }
        border-radius: 100px;
        display: flex;
        justify-content: center;
        white-space: nowrap;
        height: 48px;
    }
    @media #{$desktop} {
        width: 100%;
    }
    button {
        margin: 0 5px;
        @include button();
    }
}
.goBack {
    cursor: pointer;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
    // position: absolute;
    // top: -20px;
}
