@import "../../styles/variables";

.sidebar {
    height: $sidebar-width;
    border-radius: 0 0 0 0;
    width: 100vw;
    height: $sidebar-width;
    display: flex;
    justify-content: space-between;
    @media #{$desktop} {
        border-radius: 0 $sidebar-borderRadius $sidebar-borderRadius 0;
        flex-direction: column;
        height: 100vh;
        width: $sidebar-width-desktop;
        position: fixed;
    }
    .logo {
        border-radius: 0 $sidebar-borderRadius $sidebar-borderRadius 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $sidebar-width;
        height: $sidebar-width;
        position: relative;
        background-color: #7c5dfa;
        overflow: hidden;
        cursor: pointer;
        @media #{$desktop} {
            width: $sidebar-width-desktop;
            height: $sidebar-width-desktop;
        }
        svg {
            z-index: 1;
        }
        &::after {
            content: "";
            background-color: #9277ff;
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            transform: translateY(50%);
            z-index: 0;
            border-top-left-radius: $sidebar-borderRadius;
        }
    }
    .bottom {
        display: flex;
        align-items: center;
        @media #{$desktop} {
            flex-direction: column;
        }
        .theme {
            height: $sidebar-width;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: $sidebar-width;
            @media #{$desktop} {
                width: $sidebar-width-desktop;
                height: $sidebar-width-desktop;
            }
        }
        .imgContainer {
            height: $sidebar-width;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid #494e6e;
            width: $sidebar-width;
            cursor: pointer;
            @media #{$desktop} {
                width: $sidebar-width-desktop;
                height: $sidebar-width-desktop;
                border-left: none;
                border-top: 1px solid #494e6e;
            }
            img {
                border-radius: 50%;
                width: 32px;
                @media #{$desktop} {
                    width: 40px;
                }
            }
        }
    }
}
