$width: 103px;
$br: 20px;
.sidebar {
    background-color: #373b53;
    width: $width;
    border-radius: 0 $br $br 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo {
        border-radius: 0 $br $br 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $width;
        position: relative;
        background-color: #7c5dfa;
        overflow: hidden;
        svg {
            z-index: 1;
        }
        &::after {
            content: "";
            background-color: #9277ff;
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            transform: translateY(50%);
            z-index: 0;
            border-top-left-radius: $br;
        }
    }
    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        .theme {
            height: $width;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .imgContainer {
            height: $width;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid #494e6e;
            width: 100%;
            img {
                border-radius: 50%;
                width: 40px;
            }
        }
    }
}
