@import "../../styles/variables";

.invoiceModal {
    overflow-y: scroll;
    background: white;
    position: fixed;
    z-index: 1;
    height: 100%;
    margin-top: $sidebar-width;
    width: 100vw;
    &::-webkit-scrollbar {
        display: none;
    }
    @media #{$tablet} {
        width: 616px;
        border-radius: 0 $sidebar-borderRadius $sidebar-borderRadius 0;
    }
    @media #{$desktop} {
        padding-left: $sidebar-width-desktop;
        margin-top: 0;
    }
    .container {
        margin: 24px;
    }
}

.form {
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .innerRow {
            display: flex;
            justify-content: space-between;
            width: 80%;
        }
    }
    .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        label {
            font-size: 13px;
            margin-bottom: 9px;
        }
        input {
            border-radius: 4px;
            border: none;
            padding: 0 20px;
            line-height: 48px;
        }
    }
    .qty {
        width: 100px;
    }
    .price {
        justify-self: flex-start;
    }
    .total {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .delete {
        cursor: pointer;
    }
}
