@import "../../styles/variables";
@import "../../styles/mixins";
$mg: 24px;

.invoiceModal {
    overflow-y: scroll;
    background: white;
    position: fixed;
    z-index: 1;
    height: 100%;
    // max-height: 100vh;
    padding-top: $sidebar-width;
    width: 100vw;
    &::-webkit-scrollbar {
        display: none;
    }
    @media #{$tablet} {
        width: 616px;
        border-radius: 0 $sidebar-borderRadius $sidebar-borderRadius 0;
    }
    @media #{$desktop} {
        padding-left: $sidebar-width-desktop;
        padding-top: 0;
    }
    .container {
        height: 100vh;
        overflow: hidden;
        margin: $mg;
    }
    p {
        color: #7c5dfa;
    }
    h3 {
        color: #777f98;
    }
    h2,
    h3 {
        font-weight: 200;
    }
}

.form {
    // height: 100vh;
    .listItem {
        display: flex;
        flex-direction: column;
        @media #{$tablet} {
            flex-direction: row;
            .itemName {
                width: 150px;
                margin-right: 7px;
            }
            .qty {
                width: 70px !important;
            }
            .price {
                width: 100px !important;
            }
            .row {
                width: 100%;
            }
        }
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .innerRow {
            display: flex;
            justify-content: space-between;
            width: 80%;
        }
        .field {
            width: 48%;
            // margin-right: 7px;
        }
    }
    .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        label {
            font-size: 13px;
            margin-bottom: 9px;
        }
        input {
            border-radius: 4px;
            border: none;
            padding: 0 20px;
            line-height: 48px;
        }
    }
    .qty {
        width: 27% !important;
    }
    .price {
        justify-self: flex-start;
    }
    .total {
        height: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
    .delete {
        cursor: pointer;
    }
    .btn {
        border-radius: 200px;
        display: flex;
        justify-content: center;
        line-height: 48px;
        margin-bottom: 24px;
        cursor: pointer;

        &.addNew {
            margin-top: 48px;
            background-color: #252945;
        }
    }
}
.footer {
    // background-color: #1e2139;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 84px;
    box-shadow: 0 7px 86px black;
    button {
        margin: 24px 0;
    }
    @media #{$desktop} {
        // left: $sidebar-width-desktop;
        // width: calc(100% - $sidebar-width-desktop);
    }
}
