@mixin circle($type) {
    &::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transform: translate(-8px, 2px);
        @if ($type == "paid") {
            background-color: $paid;
        }
        @if ($type == "pending") {
            background-color: $pending;
        }
        @if ($type == "draft-light") {
            background-color: $draft-light;
        }
        @if ($type == "draft-dark") {
            background-color: $draft-dark;
        }
    }
}

@mixin statusBox() {
    .status {
        grid-area: status;
        width: 104px;
        height: 40px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.paid {
            color: $paid;
            background-color: #{$paid + "13"};
            @include circle("paid");
        }
        &.pending {
            color: $pending;
            background-color: #{$pending + "13"};
            @include circle("pending");
        }
        /*Draft defined in global because of dark mode needs*/
        // &.draft {
        //     color: $draft-light;
        //     background-color: #{$draft-light + "13"};
        //     @include circle("draft");
        // }
    }
}

@mixin card($mode) {
    $br: 8px;
    @if ($mode == "light") {
        background: white;
    }
    @if ($mode == "dark") {
        color: white;
        background-color: $card-bg-dark;
    }
    border-radius: $br;
}

@mixin floatingCard($mode) {
    box-shadow: $shadow;
    @include card($mode);
}

@mixin button() {
    cursor: pointer;
    background-color: $blue;
    border: none;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    color: white;
    @media #{$tablet} {
        width: 150px;
    }
    height: 48px;
    .add {
        color: $blue;
        background-color: white;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 900;
        transform: translateX(2px);
        span {
            transform: translateY(-1px);
        }
    }
    .text {
        flex-grow: 1;
        text-align: center;
    }
    &.markPaid {
        width: 150px;
    }
    &.delete {
        background-color: #ec5757;
        width: 90px !important;
    }
    &.edit {
        color: #7e88c3;
        width: 60px !important;
        background-color: #f9fafe;
    }
}

@mixin header() {
    margin: 36px 0;
    @media #{$desktop} {
        margin: 56px 0;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right {
        display: flex;
        align-items: center;
    }
}
