$desktop: "(min-width: 768px)";
$tablet: "(min-width: 556px)";

$main-bg-light: #f8f8fb;
$main-bg-dark: #141625;
$main-pri-color-light: black;
$main-sec-color-light: #888eb0;
$main-pri-color-dark: white;
$main-sec-color-dark: white;

$sidebar-width: 73px;
$sidebar-width-desktop: 103px;

$sidebar-borderRadius: 20px;
$sidebar-bg-light: #373b53;
$sidebar-bg-dark: #1e2139;

$card-bg-light: white;
$card-bg-dark: #252945;

$checkbox-bg-light: #dfe3fa;
$checkbox-bg-dark: $main-bg-dark;
$checkbox-bd-light: #7c5dfa;
$checkbox-bd-dark: #7c5dfa;

$paid: #33d69f;
$pending: #ff8f00;
$draft-light: #373b53;
$draft-dark: #dfe3fa;

//header
$blue: #7c5dfa;
$br: 10px;
