@import "./mixins";
@import "./variables";
@import "./invoice_variables";
.row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .innerRow {
        display: flex;
        > * {
            margin-right: 49px;
            // margin-bottom: 29px;
        }
    }
    > * {
        margin-bottom: 29px;
    }
    @media #{$tablet} {
        flex-direction: row;
        margin-bottom: 29px;
        > * {
            margin: 0px 0;
        }
    }
    .list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        white-space: nowrap;
    }
}
.invoice {
    // @include card("light");
    white-space: no-wrap;
    font-size: 18px;
    padding: 24px;
    margin-bottom: 56px;
    // overflow: hidden;
    // height: calc(100vh - 277px);
    // overflow-y: scroll;
    // &::-webkit-scrollbar {
    //     display: none;
    // }
    @media #{$tablet} {
        padding: 32px;
    }
    .invoiceSummary {
        border-radius: 8px !important;
        overflow: hidden;
        margin: 40px 0 24px;
        > * {
            display: flex;
            justify-content: space-between;
            padding: 0 24px;
            table {
                width: 100%;
                th {
                    text-align: left;
                }
            }
            .itemsMobile {
                flex-direction: column;
                > * {
                    margin-bottom: 20px;
                }
            }
            .mobileItem {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .left {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .items {
            padding: 24px;
        }
        .summary {
            height: 80px;
            display: flex;
            align-items: center;
        }
    }
    .title {
        margin-bottom: 11px;
        font-size: #{$fs}px;
    }
    .address {
        // font-size: $fs-address;
        font-size: #{$fs}px;
        line-height: 20px;
    }
    .info {
        // font-size: $fs-info;
        font-size: #{$fs}px;
    }
    .clientName {
        margin-bottom: 8px;
    }
    .description,
    .id {
        font-size: #{$fs * 1.2}px !important;
    }
}
